p,
a,
span,
ul,
h1 {
  margin: 0rem;
  padding: 0rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

ul {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  margin: 0rem;
  justify-items: center;
  align-content: start;
  position: relative;
  height: 100%;
}

/* ESTILOS CONTACT */

.contact {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  justify-self: left;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  text-align: left;
  position: absolute;
  margin: 0px;
}

/* ESTILOS HEADER */

header {
  z-index: 0;
  width: 100%;
  text-align: right;
  background-color: aliceblue;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header p,
header span {
  padding-right: 1rem;
}

header span {
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  margin: 0px;
}

/* ESTILOS CONTENT */

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* ESTILOS NAV */

nav {
  padding-left: 1rem;
  display: block;
  justify-self: start;
}

nav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}

nav li {
  background-color: aliceblue;
  border-radius: 0.5rem;
  color: rgb(129, 116, 173);
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
}

li a {
  display: block;
  padding: 1rem;
  margin: 0px;
}

nav li:hover,
main a:hover {
  background-color: rgb(129, 116, 173);
  color: aliceblue;
}

/* ESTILOS MAIN */

main {
  display: grid;
  justify-items: center;
  align-items: start;
  text-align: center;
  padding: 0.5rem 1.5rem;
  gap: 1rem;
  line-height: 1.5rem;
  grid-column: 2;
}

main h1 {
  font-size: 1rem;
  align-self: center;
  text-align: center;
}

main p{
  font-size: 1rem;
  text-align: left;
}

main a {
  display: block;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

ul li {
  font-size: 1rem;
  text-transform: capitalize;
}

/* ESTILOS FOOTER */

footer {
  background-color: aliceblue;
  text-transform: capitalize;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px 10px;
}

footer a {
  text-decoration: underline;
}
